<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

  <div class="comments">
    <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <%= comment.text %>
        </p>
      <% end %>
  </div>
  <div class="container">
    <%# if current_user %>
      <%= form_with(model: @comment, local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <%# else %>
      <%# <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong> %>
    <%# end %>
  </div>
