<%= render "shared/header" %>

<div class="contents row">
  <div class="container">
    <p><span><%= @comment.user.name %></span>:<%= @comment.text %></p>
  <div>
      <% @replies.each do |reply| %>
        <P><span><%#= reply.user_id %></span><%= reply.text %></p>
      <% end %>
    </div>
  </div>
</div>
